* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./Fonts/PlayfairDisplay-Italic.ttf) format('truetype'),
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Fonts/PlayfairDisplay.ttf) format('truetype'),
}
@font-face {
  font-family: 'Playfair Display';
  font-style:normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/PlayfairDisplay.ttf) format('truetype'),
}
@font-face {
    font-family: 'Playfair Display';
    font-style:italic;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/PlayfairDisplay-Italic.ttf) format('truetype'),
  }


body {
    margin: 0;
    padding: 0 15px;
}
.sharm {
    padding-left: 150px;
    padding-right: 150px;
    /* для центрирования */
    /* как решить вопрос с позиционированием */
    /* max-width: 1625px;
    margin: 0px auto; */
}
.all {
    padding-top: 30px;
}

.header_container {
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}

ul.messengers_list {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    list-style-type: none;
}

.messengers {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.messengers_items {
    margin-left: 37px;
}


.ls {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin: 30px 0 40px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 1.4em;
    line-height: 50px;
    color: #DF96B3;
    position: relative;
}
.ls::before {
    position: absolute;
    display: block;
    content: "";
    width: 386px;
    height: 2px;
    background-color: #DF96B3;
    left: 50%;
    transform: translateX(-53%);
    border-radius: 5px;
}
.menu {
    text-align: center;
    margin-bottom: 25px;
}
.menu_list {
    list-style: none;
    margin: 0;
}

ul.menu_list li {
    display: inline;
}

a.menu_item {
    margin: 0 35px 0 35px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
}
.intro__line {
    background: #F3F3F3;
}

.intro {
    padding: 55px 15px 74px;
    max-width: 1430px;
    margin: 0 auto;
    /* padding: 20px 0 50px 0; */
    box-sizing: border-box;
    border-top: 1px solid #DF96B3;
}

.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 155px;
    line-height: 86px;
    /* color: #000000; */
    margin: 0 0 101px;
}
.t_descrip {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 1%; */
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0;
}

/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
} */
.adornment {
    padding-top: 100px;
    box-sizing: border-box;
}

.adornment__container {
    width: 1620px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    box-sizing: border-box;
    max-width: 100%;
}
.content__card_main {
    grid-area: 2 / 3 / 4 / 5;
}

img.ador_items_main {
    max-width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

/* Делаем перевертыши */

.content__card {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.front {
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .6s;
    perspective: 600px;
    position: absolute;
}


.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background-color: #f6f6f6;
    transition: transform .6s;
    box-sizing: border-box;
}

h2.back__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    /* identical to box height, or 77% */
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 58px;
}

p.back__description {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #000000;
}

.ador_items {
    width: 100%;
    height: 100%;
}


.back__content {
    position: absolute;
    text-align: center;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Playfair Display';
}

.content__card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.content__card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}


/*  */

.blocks {
    margin-top: 100px;

}

.blocks__container {
    width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 100%;
}

img.title_photo {
    width: 100%;
    height: 100%;
}

.white_block {
    padding: 30px 42px;
    margin-bottom: 40px;
    width: 420px;
    /* max-width: fit-content; */
    background-color: white;
    position: absolute;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cont_title {
    line-height: 69%;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: black;
}
.cont_adorn {
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #B4957C;
}
.twin-block {
    margin-top: 100px;
}

.twin-block__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1620px;
    margin: 0 auto;
    max-width: 100%;
    /* flex-wrap: wrap; */
}

.open_road {
    padding: 50px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    text-align: center;
    margin-bottom: 125px;
}
/* наследование */
span {
    font-style: italic;
    font-weight: 700;
    color: #a01919;
    font-size: 85px;
}
.last {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.mini_white {
    padding: 32px 10px 32px 20px;
    /* margin-bottom: 40px; */
    width: 171px;
    background-color: white;
    position: absolute;
    max-height: 150px;
}
.mini_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}

img.mini_photo {
    max-width: 100%;
}


/* .twin_block:last-child {
    align-self: flex-start
} */
div#sorry {
    justify-content: flex-start;
}

/* footer */
footer {
    
}

.footer__container {
    max-width: 1620px;
    margin: 0 auto;
    background: #E2E1E1;
    padding-top: 32px;
    /* display: flex; */
}

.footer__sharm {
    background: #F3F3F3;
    /* padding-top: 32px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sharm {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    font-size: 270px;
    line-height: 86px;
    color: #E2E1E1;
    padding: 0;
    /* margin-top: 36px; */
    /* height: 00%; */
    /* padding-top: 11px; */
    /* margin-bottom: 65px; */
    padding-top: 35px;
    height: 181px;
}

/* .sharm {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    font-size: 270px;
    line-height: 152px;
    color: #E2E1E1;
    padding: 0;

    margin-bottom: 65px;
    padding-bottom: 0;
} */
    /* margin-top: 36px; */
    /* height: 00%; */
    /* padding-top: 11px; */

/* как лучше? */



/* .foot__messengers {
    background: #F3F3F3;
} */

.social {
    margin-left:  37px;
}

ul.foot__messengers {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

.main__foot {
    
}

.main__foot_container {
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E2E1E1;
}

.foot__menu {
    /* text-align: center; */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 29px; */
    width: 100%;
    margin: 52px 0 23px 0;
}

.foot__menu_list {
    /* display: inline; */
}


a.foot__menu_items {
    text-decoration: none;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #000000;
}

.rights_reserved {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 86px;
    color: #000000;
}



